<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Botya</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="{{ url_for('static', filename='styles/style.css') }}">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">    

</head>

<body>
<canvas id="canvas" width="800" height="800">  </canvas>

<!-- partial:index.partial.html -->
  <section class="msger">
    <header class="msger-header">
      <div class="msger-header-title">
        <i class="fab fa-gg"></i> Botya *_* <!--i class="fas fa-bug"></i-->    
      </div>
    </header>
    
    <main class="msger-chat">
      <div class="msg left-msg">
        <div class="msg-img" style="background-image: url(https://raw.githubusercontent.com/IAMBOTSB/wallrail/master/binary.jpg)"></div>

        <div class="msg-bubble">
          <div class="msg-info">
            <div class="msg-info-name">Botya</div>
            <!--div class="msg-info-time">12:45</div-->
          </div>

          <div class="msg-text">
            Hi, Welcome! Go ahead and send me a message ^_^
          </div>
        </div>
      </div>

    </main>

    <form class="msger-inputarea">
      <input type="text" class="msger-input" id="textInput" placeholder="Type here...">
      <button type="submit" class="msger-send-btn">Send</button>
    </form>
  </section>

  <!-- partial -->
  
  <script src='https://use.fontawesome.com/releases/v5.0.13/js/all.js'></script>
  <script>

    const msgerForm = get(".msger-inputarea");
    const msgerInput = get(".msger-input");
    const msgerChat = get(".msger-chat");


    
    
    const BOT_IMG ="https://raw.githubusercontent.com/IAMBOTSB/wallrail/master/binary.jpg";
    const PERSON_IMG = "https://raw.githubusercontent.com/IAMBOTSB/wallrail/master/masked.jpg";
    const BOT_NAME = "    Botya";
    const PERSON_NAME = "You";

    msgerForm.addEventListener("submit", event => {
      event.preventDefault();

      const msgText = msgerInput.value;
      if (!msgText) return;

      appendMessage(PERSON_NAME, PERSON_IMG, "right", msgText);
      msgerInput.value = "";
      botResponse(msgText);
    });

    function appendMessage(name, img, side, text) {
      //   Simple solution for small apps
      const msgHTML = `
<div class="msg ${side}-msg">
  <div class="msg-img" style="background-image: url(${img})"></div>

  <div class="msg-bubble">
    <div class="msg-info">
      <div class="msg-info-name">${name}</div>
      <div class="msg-info-time">${formatDate(new Date())}</div>
    </div>

    <div class="msg-text">${text}</div>
  </div>
</div>
`;

      msgerChat.insertAdjacentHTML("beforeend", msgHTML);
      msgerChat.scrollTop += 500;
    }

    function botResponse(rawText) {

      // Bot Response
      $.get("/get", { msg: rawText }).done(function (data) {
        console.log(rawText);
        console.log(data);
        const msgText = data;
        appendMessage(BOT_NAME, BOT_IMG, "left", msgText);

      });

    }


    // Utils
    function get(selector, root = document) {
      return root.querySelector(selector);
    }

    function formatDate(date) {
      const h = "0" + date.getHours();
      const m = "0" + date.getMinutes();

      return `${h.slice(-2)}:${m.slice(-2)}`;
    }




  const canvas = document.getElementById("canvas");
const ctx = canvas.getContext("2d");

let cw = window.innerWidth;
let ch = window.innerHeight;

let charArr = ["M","A" ,"T" ,"R" ,"I", "X"];

//let charArr =  ["a","b","c","d","e","f",
               // "g","h","i","j","k","l",
               // "m","n","o","p","q","r",
               // "s","t","u","v","w","x",
               // "y","z","1","2","3","4",
               // "5","6","7","8","А","В",
               // "Г","Д","Є","Ѕ","З","И",
               // "Ѳ","І","К","Л","М","Н",
               // "Ѯ","Ѻ","П","Ч","Р","С",
               // "Т","Ѵ","Ф","Х","Ѱ","Ѿ",
               // "Ц"];

let maxCharCount = 200;
let fallingCharArr = [];
let fontSize = 10;
let maxColumns = cw/fontSize;
canvas.width = cw;
canvas.height = ch;

let frames = 0;                

class FallingChar {
  constructor(x,y)
  {
    this.x = x;
    this.y = y;
  }

  draw(ctx)
  {
    this.value = charArr[Math.floor(Math.random() * (charArr.length-1))].toUpperCase();
    this.speed = (Math.random()*fontSize*3) / 4 + (fontSize*3)/4;

    ctx.fillStyle = "rgba(105,105,105)";
    ctx.font = fontSize + "px san-serif";
    ctx.fillText(this.value,this.x,this.y);
    this.y += this.speed;

   if (this.y > ch) {
        this.y = (Math.random() * ch) / 2 - 50;
        this.x = Math.floor(Math.random() * maxColumns) * fontSize;
        this.speed = (-Math.random() * fontSize * 3) / 4 + (fontSize * 3) / 4;
    }
  }
}

let update = () => {
  if(fallingCharArr.length < maxCharCount)
  {
    let fallingChar = new FallingChar(Math.floor(Math.random() * maxColumns) * fontSize, (Math.random()*ch)/2-50);
    fallingCharArr.push(fallingChar);
  }
  ctx.fillStyle = "rgba(0,0,0,0.05)";
  ctx.fillRect(0,0,cw,ch);
  for(let i=0; i< fallingCharArr.length && frames % 2 == 0; i++){
    fallingCharArr[i].draw(ctx);
  }

  requestAnimationFrame(update);
  frames++;
};

update();



  </script>
  
</body>

</html>




